<style>
#bank > h1 { width: 100%; margin: 0; }
#bank > h1 > * { vertical-align: middle; }
#bank > h1 > input { width: 60%; }
</style>
<div id='bank' class='displays' style='text-align: center; display: none;'>
<h3>
<span class='material-icons'>toll</span>
<input id='b_coins' class='b' type='number' name='bank[coins]' min='0' max='<%= (Bank.wallet[@user.id].to_i + @user.coins.value || 0).to_i %>' value='<%= @user.coins.value %>' style='width: 25%;'>
<span class='material-icons'>savings</span>
<input id='b_credit' class='b' type='number' min='0' max='<%= (Bank.wallet[@user.id].to_i + @user.coins.value || 0).to_i %>' name='bank[credit]' value='<%= Bank.wallet[@user.id] %>' style='width: 25%;'>

<button type='submit' class='ready material-icons' name='act' value='bank'>account_balance</button>
</h3>
</div>
<script>
var b_tot = <%= (Bank.wallet[@user.id].to_i + @user.coins.value || 0).to_i %>;

$(document).on('change','#b_coins',function(){
$('#b_credit').val(b_tot - $(this).val());
});
$(document).on('change','#b_credit',function(){
$('#b_coins').val(b_tot - $(this).val());
});

</script>
