<style>
h1 { width: 100%; }
h1 > * { vertical-align: middle; }
#shares > span > * { vertical-align: middle; }
a { text-decoration: none; border: thick solid black; color: black; }
input { width: 60%; }
</style>
<div style='text-align: center;'>

<% if Shares.by[@user.id] > 0 %>
<h3 id='shares' style='width: 100%; text-align: center; background-color: black; color: white;'>
<span class='material-icons'>confirmation_number</span>
<span><%= Shares.by[@user.id] %></span>
</h3>
<% end %>

<fieldset><legend>ledger</legend>

<% if @user.coins.value > 0 %>
<h1>
<span class='material-icons'>toll</span>
<input type='number' name='bank[coins]' value='<%= @user.coins.value %>'>
<button class='material-icons' name='bank[direction]' value='bank'>savings</button>
</h1>
<% else %>
<h1>
<span class='material-icons'>toll</span>
<input type='number' name='bank[coins]' value='<%= @user.coins.value %>' disabled>
<button class='material-icons' name='bank[direction]' value='bank' disabled>savings</button>
</h1>
<% end %>

<% if Bank.wallet[@user.id] > 0 %>
<h1>
<span class='material-icons'>savings</span>
<input type='number' name='bank[credit]' value='<%= Bank.wallet[@user.id] %>'>
<button class='material-icons' name='bank[direction]' value='user'>toll</button>
</h1>
<% else %>
<h1>
<span class='material-icons'>savings</span>
<input type='number' name='bank[credit]' value='<%= Bank.wallet[@user.id] %>' disabled>
<button class='material-icons' name='bank[direction]' value='user' disabled>toll</button>
</h1>
<% end %>

</fieldset>
<h3>

<% if Bank.wallet[@user.id].to_i > 0 %>
<a href='<%= @path %>/sponsor?u=<%= params[:u] %>'>sponsor</a>
<% end %>

<% if Bank.wallet[@user.id].to_i > 0 || Shares.by[@user.id].to_i > 0 %>
<a href='<%= @path %>/shares?u=<%= params[:u] %>'>shares</a>
<% end %>

</h3>
</div>