<div id='impressions'></div>
<div id='fingerprints'></div>
<div id='actions'></div>
<script>
<% @chain.each_pair do |k, v| %>
var data_<%= k %> = [{
  values: <%= JSON.generate(v.values) %>,
  labels: <%= JSON.generate(v.keys) %>,
  type: 'pie'
}];

var layout = {
  height: 400,
    width: 500
};

Plotly.newPlot('<%= k %>', data_<%= k %>, layout);
<% end %>

</script>