<style>
#shares { background-color: white; color: black; }
h1 { width: 100%; }
h1 > * { vertical-align: middle; }
</style>
<div id='shares' class='displays' style='display: none;'>

<% @tot = Shares.shares(request.host) %>
<fieldset>
<legend>ownership</legend>
<ul>
<li>
<span>you own:</span>
<span><%= Shares.by(request.host)[@user.id].to_i || 0 %></span>
</li>
<% @tot.each_pair do |k,v| %>
<li>
<span><%= k %>:</span>
<span><%= v %></span>
</li>
<% end %>
</ul>
</fieldset>
<fieldset><legend>franchise</legend>
<h3 style='text-align: center; width: 100%; margin: 0;'>
<span class='material-icons'>savings</span><%= Shares.cost(request.host) %></span>
</h3>
<input type='hidden' name='shares[mode]' value='buy'>
<input type='hidden' id='s_qty' name='shares[qty]' value='1'>

<textarea name='franchise[tos][terms]' style='width: 100%; height: 100%; font-size: x-small;' disabled>
terms of service for <%= request.host %> drafted on <%= Time.now.utc %>

<%= TOS[request.host] || "don't do anything stupid." %>

Your interest for each job under the this franchise agreement:
procurement: <%= PROCUREMENT[request.host] %>
fulfillment: <%= FULFILLMENT[request.host] %>

<%= FRANCHISE[request.host] || 'share and enjoy.' %>
</textarea>

<h3><input type='checkbox' name='franchise[tos][agreed]' value='<%= Time.now.utc %>'><span>do you agree to our terms?</span></h3>

<h3 style='text-align: center; width: 100%; margin: 0;'>
<button type='submit' id='s_ready' class='material-icons' name='act' value='shares' style=''>BUY</button>
</h3>
</fieldset>
</div>
<script>
<% if params.has_key? :bare %>
$('#shares').show();
<% end %>
</script>