<style>
body { margin: 0; }
img { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: -10; }
a { text-decoration: none; padding: 0 3% 0 3%; border: thin outset grey; border-radius: 5px; color: white; box-shadow: 0 0 2px white; }
#lvl { padding: 1%; text-align: center; margin: 0;}
.pin { padding: 1%; margin: 1%; font-size: small; }
#badges { text-align: center; }
#badge > h1 > * { vertical-align: middle; }
.badge { font-size: x-large; padding: 1%; margin 1%; }
</style>
<% @u = U.new("#{params[:u]}:#{params[:x] || 'solo'}:#{params[:z]}") %>
<% if params.has_key? :chance %>
<% @ad = TRACKS[request.host].adventures.members.to_a.sample %>
<% @wa = TRACKS[request.host][@ad].waypoints.members.to_a.sample %>
<% @u.attr[:track] = "#{@wa}@#{@ad}" %>
<% end %>
<img src='/<%= @domain.id %>/<%= @user.id %>.img'>

<% if @user.attr.has_key?(:vote) && params.has_key?(:v); c = contest(@user.attr[:vote]); c.votes.incr(@user.id); c.voters.incr(params[:z]); end; %>

<div id='top' style='width: 100%; text-align: center; position: fixed; top: 0;'>

<h1 style='width: 100%; margin: 0; background-color: black;'>

  <a id='tog' style='padding: 0 3% 0 3%;' class='material-icons' onclick='$("#badge").toggle(); $("#btm").toggle();'>badge</a>

  <% if @user.attr.has_key?(:link) && @user.attr[:link] != '' %>
    <a style='color: gold; padding: 0 3% 0 3%;' class='material-icons' href='<%= @user.attr[:link] %>'>lightbulb</a>
  <% end %>

  <% if @user.attr.has_key?(:vote) %>

  <% if params.has_key? :v %>
  <span class='material-icons' style='padding: 0 3% 0 3%; border: thin outset grey; border-radius: 5px; color: white; box-shadow: 0 0 2px white;'>thumb_up</span>
  <% else %>
  <a class='material-icons' href='/?u=<%= params[:u] %>&x=<%= params[:x] || 'solo' %>&z=<%= params[:z] %>&v=1' style=''>thumb_up_off_alt</a>
  <% end %>

  <% end %>

  <% if @user.attr.has_key?(:contact) && params[:contact] != 'none' && !/.onion/.match(request.host) %>
    <a style=' color: green; padding: 0 3% 0 3%;' class='material-icons' href='<%= @user.attr[:contact] %>:<%= @user.attr[:phone] %>'>call</a>
  <% end %>
</h1>

<% if @user.attr.has_key?(:contact) && params[:contact] != 'none' && /.onion/.match(request.host) %>
<h1 style='width: 100%; margin: 0; background-color: black;'>
    <span class='material-icons' style='color: green'>call</span>
    <span style='color: white;'><%= @user.attr[:phone] %></span>
</h1>
<% end %>


<% if @user.attr.has_key? :vote %>
<h4 style='width: 100%; background-color: black; color: white; margin: 0;'><%= @user.attr[:vote] %></h4>
<% end %>

</div>

<div id='badge' style='display: none; position: absolute; top: 0;'>
  <% @u = U.new("#{params[:u]}:#{params[:z]}") %>
  <div id='qrcode-wrap' style='width: 100%; text-align: center;'>
    <div id="qrcode" style='padding: 2%; border: thick solid black; background-color: white;'></div>
  </div>

  <% if ENV['LVLS'] != 'false' %>
  <%= @u.sash.lvl %>
  <% end %>
  
  <% if ENV['BADGES'] != 'false' %>
  <%= @u.sash.badges %>
  <% end %>
</div>


<div id='btm' style='position: fixed; bottom: 0; width: 100%; text-align: center;'>

 <% if @user.attr.has_key? :pitch %>
  <h3 id='pitch' style='width: 100%; text-align: center; margin: 0; background-color: black; color: white;'><span><%= @user.attr[:pitch] %></span></h3>
 <% end %>
 
 <% if @user.attr.has_key?(:name) && @user.attr[:name] != '' %>
  <h1 id='name' style='width: 100%; text-align: center; margin: 0; background-color: black; color: white;'><span><%= @user.attr[:name] %></span></h1>
 <% end %>

 <% if @user.attr.has_key? :title %>
  <h4 id='title' style='width: 100%; text-align: center; margin: 0; background-color: black; color: white;'><span><%= @user.attr[:title] %></span></h4>
 <% end %>

 <% if @user.attr.has_key? :sponsor %>
 <h4 id='sponsor' style='width: 100%; text-align: center; margin: 0; background-color: black; color: white;'><span><%= @user.attr[:sponsor] %></span></h2>
 <% end %>

</div>

<dialog id='modal' style='height: 80%; width: 80%; padding: 0;' onclick='document.querySelector("#modal").close()'>

<% if @user.attr.has_key? :vote %>
<div style='padding: 0; margin: 0; margin: 5% 0 5% 0;'>
<p style='width: 100%; text-align: center; margin: 0;'>vote (<span class='material-icons'>thumb_up_off_alt</span>) for me for:</p>
<h4 style='width: 100%; text-align: center; margin: 0;'><%= @user.attr[:vote] %></h4>
</div>
<% end %>

<% @u.log.values.to_a.reverse.each do |e| %>
<p style='width: 100%; margin: 0;'><%= e %></p>
<% end %>

<p style='width: 100%; text-align: center;'><span style='border: thin solid black; border-radius: 50px; padding: 0 2% 0 2%;'>xp</span><span><%= @u.attr[:xp].to_i %></span></p>
<p style='width: 100%; text-align: center;'><span style='padding: 0 2% 0 2%;' class='material-icons'>toll</span><span><%= @u.coins.value %></span></p>

<% if @u.attr.has_key? :track %>
<% @t = @u.attr[:track].split('@') %>
<h3 style='width: 100%; text-align: center;'>
<span style='padding: 1% 3% 1% 3%; border: thin solid orange; border-radius: 50px;'>ADVENTURE</span>
</h3>
<p style='width: 100%; text-align: center;'><span style='padding: 0 2% 0 2%;' class='material-icons'>place</span><span><%= @t[1] %></span></p>
<p style='width: 100%; text-align: center;'><span style='padding: 0 2% 0 2%;' class='material-icons'>person</span><span><%= U.new(@t[0]).attr[:name] %></span></p>
<p style='width: 100%; text-align: center;'><span style='padding: 0 2% 0 2%;' class='material-icons'>verified</span><%= U.new(@t[0]).attr[:title] %></p>
<% @u.attr.delete(:track) %>
<% else %>
<p style='width: 100%; text-align: center;'><span>Collect passwords to continue the adventure!</span></p>
<h3 style='width: 100%; text-align: center;'><span>OR</span></h3>
<h1 style='width: 100%; text-align: center;'><a href='<%= request.fullpath %>&chance=true' class='material-icons' style='text-decoration: none; color: white; background-color: black; padding: 2%; border-radius: 50px; border: thick solid orange;'>casino</a></h1>
<h3><span>roll the dice for your next nove.</span></h3>
<% end %>

</dialog>

<% @ts = Time.now.utc.to_i %>
<input type='hidden' name='z' value='<%= params[:z] %>'>
<input type='hidden' name='x' value='<%= params[:x] || "solo" %>'>
<input type='hidden' name='ts' value='<%= params[:ts] || @ts %>'>
<script>
$('#qrcode').qrcode('<%= @path %>/?u=<%= @u.id %>&ts=<%= params[:ts] || @ts %>');
document.querySelector("#modal").showModal()
</script>