<style>
body { margin: 0; }
img { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: -10; }
a { text-decoration: none; padding: 0 3% 0 3%; border: thin outset grey; border-radius: 5px; color: white; box-shadow: 0 0 2px white; }
#lvl { padding: 1%; text-align: center; margin: 0;}
.pin { padding: 1%; margin: 1%; font-size: small; }
#badges { text-align: center; }
#badge > h1 > * { vertical-align: middle; }
.badge { font-size: x-large; padding: 1%; margin 1%; }
</style>
<% @u = U.new("#{params[:u]}:#{params[:x] || 'solo'}:#{params[:z]}") %>

<img src='/<%= @domain.id %>/<%= @user.id %>.img'>

<% if @user.attr.has_key?(:vote) && params.has_key?(:v); c = contest(@user.attr[:vote]); c.votes.incr(@user.id); c.voters.incr(params[:z]); end; %>

<div id='top' style='width: 100%; text-align: center; position: fixed; top: 0;'>

<h1 style='width: 100%; margin: 0; background-color: black;'>

  <a id='tog' style='padding: 0 3% 0 3%;' class='material-icons' onclick='$("#badge").toggle(); $("#btm").toggle();'>badge</a>

  <% if @user.attr.has_key?(:link) && @user.attr[:link] != '' %>
    <a style='color: gold; padding: 0 3% 0 3%;' class='material-icons' href='<%= @user.attr[:link] %>'>lightbulb</a>
  <% end %>

  <% if @user.attr.has_key?(:vote) %>

  <% if params.has_key? :v %>
  <span class='material-icons' style='padding: 0 3% 0 3%; border: thin outset grey; border-radius: 5px; color: white; box-shadow: 0 0 2px white;'>thumb_up</span>
  <% else %>
  <a class='material-icons' href='/?u=<%= params[:u] %>&x=<%= params[:x] || 'solo' %>&z=<%= params[:z] %>&v=1' style=''>thumb_up_off_alt</a>
  <% end %>

  <% end %>

  <% if @user.attr.has_key?(:contact) && params[:contact] != 'none' && !/.onion/.match(request.host) %>
    <a style=' color: green; padding: 0 3% 0 3%;' class='material-icons' href='<%= @user.attr[:contact] %>:<%= @user.attr[:phone] %>'>call</a>
  <% end %>
</h1>

<% if @user.attr.has_key?(:contact) && params[:contact] != 'none' && /.onion/.match(request.host) %>
<h1 style='width: 100%; margin: 0; background-color: black;'>
    <span class='material-icons' style='color: green'>call</span>
    <span style='color: white;'><%= @user.attr[:phone] %></span>
</h1>
<% end %>


<% if @user.attr.has_key? :vote %>
<h4 style='width: 100%; background-color: black; color: white; margin: 0;'><%= @user.attr[:vote] %></h4>
<% end %>

</div>

<div id='badge' style='display: none; position: absolute; top: 0;'>
  <% @u = U.new("#{params[:u]}:#{params[:z]}") %>
  <div id='qrcode-wrap' style='width: 100%; text-align: center;'>
    <div id="qrcode" style='padding: 2%; border: thick solid black; background-color: white;'></div>
  </div>

  <% if ENV['LVLS'] != 'false' %>
  <%= @u.sash.lvl %>
  <% end %>
  
  <% if ENV['BADGES'] != 'false' %>
  <%= @u.sash.badges %>
  <% end %>
</div>


<div id='btm' style='position: fixed; bottom: 0; width: 100%; text-align: center;'>

 <% if @user.attr.has_key? :pitch %>
  <h3 id='pitch' style='width: 100%; text-align: center; margin: 0; background-color: black; color: white;'><span><%= @user.attr[:pitch] %></span></h3>
 <% end %>
 
 <% if @user.attr.has_key?(:name) && @user.attr[:name] != '' %>
  <h1 id='name' style='width: 100%; text-align: center; margin: 0; background-color: black; color: white;'><span><%= @user.attr[:name] %></span></h1>
 <% end %>

 <% if @user.attr.has_key? :title %>
  <h4 id='title' style='width: 100%; text-align: center; margin: 0; background-color: black; color: white;'><span><%= @user.attr[:title] %></span></h4>
 <% end %>

 <% if @user.attr.has_key? :sponsor %>
 <h4 id='sponsor' style='width: 100%; text-align: center; margin: 0; background-color: black; color: white;'><span><%= @user.attr[:sponsor] %></span></h2>
 <% end %>

</div>

<dialog id='modal' style='padding: 0; box-shadow: 0 0 15px white;' onclick='document.querySelector("#modal").close()'>
<div style='background-color: white; color: black; width'>
<% if OWNERSHIP[request.host] != 'franchise' %>
<p style='width: 100%; text-align: center; background-color: black; color: white; margin: 0;'>
<span style='text-align: left; width: 35%;'>
<span style='border: thin solid white; border-radius: 50px; padding: 0 2% 0 2%;'>xp</span>
<span><%= @u.attr[:xp].to_i %></span>
</span>


<span id='orb' class='material-icons' style='border-radius: 50px; border: thick solid black; color: black; display: none; vertical-align: middle; '>circle</span>


<span style='text-align: right; width: 35%'>
<span><%= @u.coins.value %></span>
<span style='padding: 0 2% 0 2%; vertical-align: middle;' class='material-icons'>toll</span>
</span>
</p>
<% end %>


<% if @user.attr.has_key? :vote %>

<div style='padding: 0; margin: 0; margin: 5% 0 5% 0;'>
<p style='width: 100%; text-align: center; margin: 0;'>vote (<span class='material-icons'>thumb_up_off_alt</span>) for me for:</p>
<h4 style='width: 100%; text-align: center; margin: 0;'><%= @user.attr[:vote] %></h4>
</div>
<% end %>
<% @u.log.clear() if params.has_key?(:clear) %>
<% if @u.log.values.length > 0 %>
<fieldset><legend>log</legend>
<% @u.log.values.to_a.reverse.each do |e| %>
<p style='width: 100%; margin: 0;'><%= e %></p>
<% end %></fieldset>
<% end %>

 <% if Chance.new(@user.id).try? %>
 <fieldset><legend>luck</legend>
 <% @chance = Chance.new(@user.id); @chance.try! %>
 <div style='width: 100%; text-align: center;'>
 <h3 style='width: 100%; text-align: center; margin: 0;'>
  <% if @user.attr[:chance] == 'card' %>
   <% @res = @chance.result[:hand] %>
  <% elsif @user.attr[:chance] == 'coin' %>
   <% @res = @chance.result[:toss] %>
  <% elsif @user.attr[:chance] == 'dice' %>
   <% @res = @chance.result[:dice].join(', ') %>
  <% end %>
  <% if @chance.success? == 'true' %>
    <span class='material-icons'>sentiment_very_satisfied</span>
  <% else %>
  <span class='material-icons'>sentiment_very_dissatisfied</span>
  <% end %>
 <span style='padding: 1%; border: thin solid black; margin: 0;'><%= @res %></span>
 </h3>
</div>
</fieldset>
  
 <% else %>
 <% if OWNERSHIP[request.host] != 'franchise' %>
 <p style='width: 100%; text-align: center;'><span>continue the adventure?</span></p>
 <% else %>
 <p style='width: 100%; text-align: center;'><span>please add this app to your homescreen for quick and direct updates.</span></p>
 <% end %>
 <% end %>

</div>
</dialog>

<% @ts = Time.now.utc.to_i %>
<input type='hidden' name='z' value='<%= params[:z] %>'>
<input type='hidden' name='x' value='<%= params[:x] || "solo" %>'>
<input type='hidden' name='ts' value='<%= params[:ts] || @ts %>'>
    <script>
    
$('#qrcode').qrcode('<%= @qr %>/<%= badge(@u.id).user %>');
document.querySelector("#modal").showModal()

var orb_wake = 100;
var orb_rest = 200;

$( "#orb" ).animate({
    width: [ "toggle", "swing" ],
    height: [ "toggle", "swing" ],
    opacity: "toggle"
}, 3000, "linear", function() {
    setInterval(function() {
	setTimeout(function() {
	    $('#orb').css('border-color', '<%= @u.attr[:rest] || "black" %>');
	    var r = Math.floor(Math.random() * 256);
	    var g = Math.floor(Math.random() * 100);
	    var b = Math.floor(Math.random() * 100);
	    $('#orb').css('color', 'rgb(' + r + ',' + g + ',' + b + ')');
	    orb_rest = Math.floor(Math.random() * 200);
	}, orb_rest);
	$('#orb').css('border-color', '<%= @u.attr[:wake] || "white" %>');
	orb_wake = Math.floor(Math.random() * 100);
    }, orb_wake);
});
    <% if ENV['BOX'] == 'true' %>
    let socket = new WebSocket("wss://<%= ENV['CLUSTER'] %>/ws");
    <% else %>
let socket = new WebSocket("wss://<%= request.host %>/ws");
    <% end %>
socket.onopen = function(e) {
    alert("[open] Connection established");
    alert("Sending to server");
    $('#orb').css('color', '<%= @u.attr[:orb] || "white" %>');
    socket.send("ok: <%= @u.id %>");
};
</script>
