<style>
body { margin: 0; }
img { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: -10; }
a { text-decoration: none; padding: 2%; border: thick outset grey; border-radius: 1000px; color: white;}
#lvl { padding: 1%; text-align: center; }
.pin { padding: 1%; margin: 1%; font-size: small; }
#badges { text-align: center; }
#badge > h1 > * { vertical-align: middle; }
.badge { font-size: x-large; padding: 1%; margin 1%; }
</style>

<img src='/<%= @user.id %>.img'>

<div style='position: fixed; top: 0; width: 100%; text-align: center;'>
 <% if @user.attr.has_key? :pitch %>
  <h3 style='width: 100%; text-align: center; margin: 0; background-color: black; color: white;'><span><%= @user.attr[:pitch] %></span></h3>
  <% end %>
</div>

<div id='badge' style='display: none;'>
  <h1 style='text-align: center; width: 100%;'>
  <a class='material-icons' href='https://<%= OPTS[:domain] %>/a' style='thin outset grey;'>military_tech</a>
  <input name='code' type='text' style='width: 50%;' placeholder='CODE'>
  <button class='material-icons'>record_voice_over</button>
  </h1>
  <%= @user.sash.lvl %>
  <div id='qrcode-wrap' style='width: 100%; text-align: center;'>
    <div id="qrcode" style='padding: 2%; border: thick solid black; background-color: white;'></div>
  </div>
  <%= @user.sash.badges %>
</div>

<div style='position: fixed; bottom: 0; width: 100%; text-align: center;'>

 <% if @user.attr.has_key?(:name) && @user.attr[:name] != '' %>
 <h1 style='width: 100%; text-align: center; margin: 0; background-color: black; color: white;'><span><%= @user.attr[:name] %></span></h1>
 <% end %>

 <% if @user.attr.has_key? :sponsor %>
 <h4 style='width: 100%; text-align: center; margin: 0; background-color: black; color: white;'><span><%= @user.attr[:sponsor] %></span></h2>
 <% end %>

 <% if @user.attr.has_key? :title %>
  <h4 style='width: 100%; text-align: center; margin: 0; background-color: black; color: white;'><span><%= @user.attr[:title] %></span></h4>
   <% end %>
<h1 style='width: 100%;'>

<a id='tog' style='background-color: blue; width: 20%;' class='material-icons' onclick='$("#badge").show(); $("#tog").hide();'>badge</a>
<% if @user.attr.has_key?(:link) && @user.attr[:link] != '' %>
    <a style='background-color: red; width: 20%;' class='material-icons' href='<%= @user.attr[:link] %>'>menu</a>
<% end %>
    
<% if @user.attr.has_key?(:contact) && params[:contact] != 'none' %>
    <a style='background-color: green; width: 20%;' class='material-icons' href='<%= @user.attr[:contact] %>:<%= @user.attr[:phone] %>'>call</a>

<% end %>
</h1>
</div>

<% @ts = Time.now.utc.to_f %>

<input type='hidden' name='x' value='<%= params[:x] || "solo" %>'>
<input type='hidden' name='ts' value='<%= params[:ts] || @ts %>'>
<script>
$('#qrcode').qrcode('https://<%= OPTS[:domain] %>/?u=<%= params[:x] || "solo" %>&x=<% params[:x] %>ts=<%= params[:ts] || @ts %>');

</script>