    <% if @user.attr.has_key?(:goto)  %>
    <% @go = @user.attr[:goto].split(',') %>
    <% else %>
    <% @go = [0,0] %>
<% end %>
var gps_id, target, gps_options;
var gps_running = true;
var coords = false;
function calcCrow(lat1, lon1, lat2, lon2)
{
    var R = 6371; // km
    var dLat = toRad(lat2-lat1);
    var dLon = toRad(lon2-lon1);
    var lat1 = toRad(lat1);
    var lat2 = toRad(lat2);
    
    var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
        Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2);
    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
    var d = R * c;
    return d;
}

// Converts numeric degrees to radians
function toRad(Value)
{
    return Value * Math.PI / 180;
}

function Point(x,y){
    this.x = x;
    this.y = y;
    this.distanceTo = function (point)
    {
	var deg = Math.sqrt((Math.pow(point.x-this.x,2))+(Math.pow(point.y-this.y,2)))
	var dst = calcCrow(this.y, this.x, point.y, point.x);
	return { deg: deg.toFixed(1), dst: dst.toFixed(0) };
    };
}

function gps_success(pos) {
    var crd = pos.coords;
    $('#lon').val(crd.longitude);
    $('#lat').val(crd.latitude);
  if (target.latitude === crd.latitude && target.longitude === crd.longitude) {
    log('Congratulations, you reached the target');
    navigator.geolocation.clearWatch(id);
  } else {
      var dir = [];
      var dst_y = 0;
      var dst_x = 0;
      if (target.latitude < crd.latitude) {
	  dir.push('north');
//	  dst_y = target.latitude - crd.latitude;
      } else if (target.latitude > crd.latitude) {
	  dir.push('south');
//	  dst_y = crd.latitude - target.latitude;
      }
      if (target.longitude < crd.longitude) {
	  dir.push('west');
//	  dst_x = target.longitude - crd.longitude;
      } else if (target.longitude > crd.longitude) {
	  dir.push('east');
//	  dst_x = crd.longitude - target.longitude;
      }
      var ptr = dir.join('_');
      var there = new Point(<%= @go[0] || 0 %>, <%= @go[1] || 0 %>);
//      var here = new Point (dst_x, dst_y);
      var here = new Point (crd.longitude, crd.latitude);
      var dst = here.distanceTo(there);
      if (coords == false) {
      log('<span id="" class="material-icons" style="color: green;">' + ptr + '</span><span><span id="dst">' + dst.dst + '</span>km.</span>');
      coords = true;
      }
      $('#ptr').text(ptr);
      $('#dst').text(dst.dst);
  }
}

function gps_error(err) {
    if (gps_running == true) {
	log("<span class='material-icons' style='color: red;'>navigation</span> no navagation available.");
	gps_running = false;
    }
}

target = {
  latitude : <%= @go[0] || 0 %>,
  longitude: <%= @go[1] || 0 %>
};

gps_options = {
  enableHighAccuracy: false,
  timeout: 5000,
  maximumAge: 0
};

    <% if @user.attr.has_key?(:goto) %>
    var there = new Point(<%= @go[0] || 0 %>, <%= @go[1] || 0 %>);
    gps_id = navigator.geolocation.watchPosition(gps_success, gps_error, gps_options);
    <% end %>
