<style>
#canvas { width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: -2; } 
#head > * { vertical-align: middle; }
#config input { width: 100%; }
button {
color: white;
text-shadow: 0px 0px 1px black;
text-shadow: 0px 0px 2px black;
background-color: rgba(0,0,0,0.0);
border: thick solid white;
padding: 3%;
}
#state > * { vertical-align: middle; }
#give > * {vertical-align: middle; }
#lvl { padding: 1%; }
.pin { padding: 2%; margin: 2%; font-size: xx-large; }
#badges { text-align: center; }
.badge { font-size: xx-large; padding: 2%; margin 3%; }
</style>

<% @a = @user.attr.all %>

<canvas id='canvas'></canvas> 

  <input type='file' id='pic-file' style='position: fixed; top: -100px;' name='config[pic]'>
  <h1 style='color: white; background-color: black; margin: 0;'>
    <button class='material-icons' type='button'
	    onclick='$("#badge").toggle(); $("#display").toggle();'
	    style='background-color: black;font-size: xx-large; width: 20%; float: right;'>qr_code_2</button>
    <span onclick='$("#config").toggle(); $("#display").toggle();'>
      <% if @user.attr.has_key?(:name) && @user.attr[:name] != '' %>
      <%= @user.attr[:name] %>
      <% else %>
      <span style='font-size: xx-large;' class='material-icons'>settings</span> config
      <% end %>
    </span>
  </h1>
  
  <div id='config' style='background-color: black; display: none;'>
    <h1><input type='text' name='config[name]' placeholder='NAME' value='<%= @user.attr[:name] %>'></h1>
    <h1><input type='text' name='config[pitch]' placeholder='PITCH' value='<%= @user.attr[:pitch] %>'></h1>
    
    <h1>
      <select id='title' name='config[icon]' style='width: 20%;'>
        <option value='title' selected disabled>icon</option>
	<% ICONS.each_pair do |k,v| %>
	<option value='<%= v %>'><%= k %></option>
	<% end %>
      </select>
      <input type='text' name='config[link]' placeholder='LINK' value='<%= @user.attr[:link] %>' style='width: 70%;'>
    </h1>

    <h1 style='width: 100%;'>
      <select id='title' name='config[title]' style='width: 100%;'>
	<option value='title' selected disabled>title</option>
	<% if @user.attr[:class].to_i > 0 %>
	<option value='influencer'>influencer</option>
	<% end %>
	<% if @user.attr[:class].to_i > 1 %>
	<option value='manager'>manager</option>
	<% end %>
	<% if @user.attr[:class].to_i > 2 %>
	<option value='operator'>operator</option>
	<% end %>
	
	<% @user.titles.members.each do |e| %>
	<option value='<%= e %>'><%= e %></option>
	<% end %>
      </select>
    </h1>

    <h1 style='width: 100%;'>
      <select id='sponsor' name='config[sponsor]' style='width: 100%;'>
	<option value='sponsor' selected disabled>sponsor</option>
	<% @user.zones.members.each do |e| %>
	<option value='<%= e %>'><%= e %></option>
	<% end %>
      </select>
    </h1>

    <h1>
    <select id='contact' name='config[contact]' style='width: 20%;'>
      	<option value='none' selected disabled>contact</option>
	<option value='sms'>sms</option>
	<option value='tel'>tel</option>
      </select>
      <input type='tel' name='config[phone]' style='width: 70%;' maxlength="10" size="10" placeholder='PHONE' value='<%= @user.attr[:phone] %>'>
    </h1>
      
    <h1><input type='file' id='pic' accept="image/*" name='file'></h1>
    <h1 style='text-align: center;'><button>SAVE</button></h1>
  </div>
  
  <div id='badge' style='background-color: black; display: none; width: 100%;'>
    <% if @user.attr.has_key? :lvl %><%= @user.sash.lvl %><% end %>
    <div id='qrcode-wrap' style='width: 100%; text-align: center;'>
      <div id="qrcode" style='padding: 2%; border: thick solid black; background-color: white;'></div>
      <h1 style='width: 100%; color: white; text-align: center;'><%= @user.attr[:sponsor] %></h1>
      <%= @user.sash.badges %>
    </div>
  </div>
  
  <div id='magic' style='background-color: black; display: none;'>
    <h3 style='width: 100%; text-align: center; background-color: white; color: black;'>
    <input type='text' id='scan' name='scan' value='<%= @id %>' disabled>
    </h3>
    <% if @user.attr[:boss].to_i > 4 %>
    <h3 style='width: 100%; text-align: center; background-color: white; color: black;'>
      <select name='admin' style='width: 100%;'>
	<option selected disabled>promote</option>
	<% if @user.attr[:boss].to_i > 5 %>
	<option value='lvl'>level</option>
	<option value='stripes'>stripes</option>
	<option value='pin'>pin</option>
	<% end %>
	
	<% if @user.attr[:boss].to_i > 10 %>
	<option value='boss'>boss</option>
	<% end %>
	
      </select>
    </h3>
    <% end %>

    <% if @user.attr[:boss].to_i > 8 %>
    <datalist id='contests'>
      <% VOTES.members.each do |vote| %>
      <option value='<%= vote %>'>
	<% end %>
    </datalist>
    <h3 style='width: 100%; text-align: center; background-color: white; color: black;'><input type='text' name='vote' list='contests' placeholder='contest'></h3>
    <% end %>
    <% if @user.attr[:boss].to_i > 6 %>
    <datalist id='titles'>
      <% TITLES.members.each do |title| %>
      <option value='<%= title %>'>
	<% end %>
    </datalist>
    <h3 style='width: 100%; text-align: center; background-color: white; color: black;'><input type='text' name='title' list='titles' placeholder='title'></h3>
    <% end %>
    
    <% if @user.attr[:boss].to_i > 9 %>
    <datalist id='zones'>
      <% ZONES.members.each do |zone| %>
      <option value='<%= zone %>'>
    <% end %>
    </datalist>
    <h3 style='width: 100%; text-align: center; background-color: white; color: black;'><input type='text' name='zone' list='zones' placeholder='zone'></h3>
    <% end %>

    <% if @user.attr[:boss].to_i > 7 %>
    <h3 style='width: 100%; text-align: center; background-color: white; color: black;'><input type='text' name='message' placeholder='message'></h3>
    <% end %>

    <h3 id='give' style='width: 100%; text-align: center; background-color: white; color: black;'>
      <select name='give[of]' style='width: 15%; padding: 0;'>
	<option selected>badge</option>
	<% if @user.attr[:boss].to_i > 1 %>
	<option value='award'>award</option>
	<% end %>
	<% if @user.attr[:boss].to_i > 2 %>
	<option value='stripe'>stripe</option>
	<% end %>
	<% if @user.attr[:boss].to_i > 2 %>
	<option value='boss'>boss</option>
	<% end %>
	<% if @user.attr[:boss].to_i > 0 %>
	<option value='vote'>vote</option>
	<% end %>
      </select>
      <select name='give[type]' style='width: 15%; padding: 0;'>
	<option selected disabled></option>
	<% BADGES.each_pair do |name, badge| %>
	<option value='<%= badge %>'><%= name %></option>
	<% end %>
      </select>
      <input type='text' name='give[desc]' placeholder='for...'>
      <button class='material-icons' style='background-color: green; color: white;'>send</button>
    </h3>
  </div>
  
  <div id='display' style='position: fixed; bottom: 0; width: 100%; color: white; background-color: black; height: 35%; overflow-y: scroll;'>
      <% if @user.attr[:zone] %>
      <h1 style='width: 100%; margin: 0;'>
      <button id='msg' name='msg' value='<%= @user.attr[:zone] %>' class='material-icons' style='float: right;'>send</button>
        <input id='input' type='text' placeholder='@<%= @user.attr[:zone] %>' style='width: 75%; vertical-align: middle;'>
      </h1>
      <% end %>
    <code id='log' style='width: 100%; height: 100%; color: white;'>
      <%= @user.log.values.join("<br>") %>
    </code>
    <% @user.log.clear() %>
    <h1 style='width: 100%; text-align: center; position: fixed; bottom: 0;'>
    <select name='send[mode]' style='width: 15%; vertical-align: middle;'>
    	    <option value='callback' selected>callback</option>
    	    <option value='invite'>invite</option>
    </select>
    <input name='send[number]' placeholder='PHONE' style='width: 55%; vertical-align: middle;'>
    <button class='material-icons' style='vertical-align: middle; border: none;'>send</button>
    </h1>
  </div>
  <script>
  var inv = false;
    $('#contact').val('<%= @user.attr[:contact] || 'contact' %>');
    $('#sponsor').val('<%= @user.attr[:sponsor] || 'sponsor' %>');
    $('#title').val('<%= @user.attr[:title] || 'title' %>');
    function log(s) { $('#log').prepend(s + '</br>'); console.log(s); }
    $(document).on('change', '#pic', function(ev) { ev.preventDefault(); });
    $('#qrcode').qrcode('<%= @path %>/?x=<%= @user.attr[:zone] || 'solo' %>&u=<%= QRO[LOOK[params[:u]]] %>');
    log('<span class="material-icons">directions_walking</span> <a href="https://github.com/xorgnak/nomad" style="color: white; text-decoration: none;">nomad</a> <a href="https://github.com/xorgnak/nomad/commit/HEAD" style="color: white; text-decoration: none;"><%= `git log --format="%H" -n 1`[0..7] %></a>');
    log('<span class="material-icons">copyright</span> 2021 <%= OPTS[:domain] %>');
    log('<span class="material-icons">info</span> Add to homescreen to install.');
<%= erb :scan %>
<%= erb :sha %>
<%# erb :coin %>
<%= erb :mqtt %>
<%# erb :websocket %>
</script>
