<style>
#canvas { width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: -2; } 
#head > * { vertical-align: middle; }
#config input { width: 100%; }
button {
color: white;
text-shadow: 0px 0px 1px black;
text-shadow: 0px 0px 2px black;
background-color: rgba(0,0,0,0.0);
border: thick solid white;
padding: 3%;
}
#state > * { vertical-align: middle; }
#give > * {vertical-align: middle; }
#lvl { padding: 1%; }
.pin { padding: 2%; margin: 2%; font-size: xx-large; }
.pip { padding: 1%; margin: 1%; font-size: large; }
#badges { text-align: center; }
.badge { font-size: xx-large; padding: 2%; margin 3%; }
.open { border: thin solid white; padding: 1% 3% 1% 3%; font-size: medium; }
.tog { border: thin solid white; padding: 1% 3% 1% 3%; font-size: medium; }
#top > * { vertical-align: middle; }
#messenger > * { vertical-align: middle; }

legend { padding: 0 2% 0 2%; background-color: black; color: white; border-radius: 50px; }

#broadcast + label { vertical-align: middle; color: black; background-color: white; }

#broadcast + label:before {
  content: "stars";
}

#broadcast:checked + label:before {
  content: "star";
}

#zap + label { vertical-align: middle; background-color: black; padding: 1%; margin: 1%; }

#zap + label:before {
  content: "settings";
  color: blue;
  }

#zap:checked + label:before {
  content: "auto_fix_high";
  color: yellow;
  }

#badge_type + label { vertical-align: middle; color: black; background-color: white; }

#badge_type + label:before {
content: "military_tech";
color: silver;
}

#badge_type:checked + label:before {
content: "emoji_events";
color: gold;
}


#success + label { vertical-align: middle; color: black; background-color: white; }

#success + label:before {
  content: "undo";
  color: red;
}

#success:checked + label:before {
  content: "redo";
  color: green;
}

#pinned + label { vertical-align: middle; }

#pinned + label:before {
  content: "emergency_share";
}

#pinned:checked + label:before {
  content: "crop";
}	   
</style>

<% @a = @user.attr.all %>

<canvas id='canvas'></canvas> 

  <input type='file' id='pic-file' style='position: fixed; top: -100px;' name='config[pic]'>
  <h1 id='top' style='color: white; background-color: black; margin: 0; width: 100%; display: flex;'>
    <span onclick='$("#display").toggle(); document.querySelector("#config").showModal();' style='width: 80%;'>
      <% if @user.attr.has_key?(:name) && @user.attr[:name] != '' %>
      <%= @user.attr[:name] %>
      <% else %>
      <span class='material-icons'>settings</span> config
      <% end %>
    </span>
    <span style='width: 20%; text-align: right;'>
    <button class='material-icons' type='button'
	    onclick='$("#badge").toggle(); $("#display").toggle();'
	    style='background-color: black; padding: 1%; font-size: inherit;'>qr_code_2</button>
    </span>
  </h1>
  
  <dialog id='config' style='background-color: black; padding: 0; height: 100%; width: 100%;'>
    <h1><input type='text' name='config[name]' placeholder='NAME' value='<%= @user.attr[:name] %>'></h1>
    <h1><input type='text' name='config[pitch]' placeholder='PITCH' value='<%= @user.attr[:pitch] %>'></h1>    
    <h1 style='width: 100%;'>
      <input type='text' name='config[link]' placeholder='LINK' value='<%= @user.attr[:link] %>' style='width: 100%;'>
    </h1>

    <h1 style='width: 100%;'>
      <select id='title' name='config[title]' style='width: 100%;'>
	<option value='title' selected disabled>title</option>
	<% if @user.attr[:class].to_i > 0 %>
	<option value='influencer'>influencer</option>
	<% end %>
	<% if @user.attr[:class].to_i > 1 %>
	<option value='manager'>manager</option>
	<% end %>
	<% if @user.attr[:class].to_i > 2 %>
	<option value='operator'>operator</option>
	<% end %>
	
	<% @user.titles.members.each do |e| %>
	<option value='<%= e %>'><%= e %></option>
	<% end %>
      </select>
    </h1>

    <h1 style='width: 100%;'>
      <select id='sponsor' name='config[sponsor]' style='width: 100%;'>
	<option value='sponsor' selected disabled>sponsor</option>
	<% @user.zones.members.each do |e| %>
	<option value='<%= e %>'><%= e %></option>
	<% end %>
      </select>
    </h1>
    <h1>
    <select id='contact' name='config[contact]' style='width: 20%;'>
      	<option value='none' selected>contact</option>
	<option value='sms'>sms</option>
	<option value='tel'>tel</option>
      </select>
      <datalist id='numbs'>
      <option value='<%= @user.attr[:phone] %>'>
      <option value='<%= ENV['PHONE'] %>'>
      </datalist>
      <input type='tel' list='numbs' name='config[phone]' style='width: 70%;' maxlength="10" size="10" placeholder='PHONE' value='<%= @user.attr[:phone] %>' pattern='[0-9]{10}'>
    </h1>
    <h3 style='width: 100%; text-align: center;'>
      <select id='chance' name='config[chance]' style='width: 30%;'>
	<option selected disabled>chance</option>
	<option>none</option>
	<option value='card'>card</option>
	<option value='coin'>coin</option>
	<option value='dice'>dice</option>
      </select>
      <span style='width: 65%'>
      <span id='card' class='chance' style='display: none; text-align: center;'>
	<input type='number' name='config[hand]' min='0' max='10' step='1' value='1' style='width: 15%;' placeholder='hand' value='<%= @user.attr[:hand] %>'>
	<span style='color: white; padding: 0 3% 0 3%;'>&gt;</span>
      </span>
      <span id='coin' class='chance' style='display: none; text-align: center;'>
      </span>
      <span id='dice' class='chance' style='display: none; text-align: center;'>
	<input type='number' name='config[number]' min='1' max='99' step='1' value='<%= @user.attr[:number] || "2" %>' style='width: 15%;' maxlength='2' placeholder='2'><span style='color: white;'>d</span><input type='number' min='1' max='999' step='1' style='width: 15%;' maxlength='3' value='<%= @user.attr[:sides] || "6" %>' name='config[sides]' style='' placeholder='6'><span style='color: white; padding: 0 3% 0 3%;'>&gt;</span>
	</span>
	<input type='number' name='config[over]' min='0' step='1' maxlength='6' value='<%= @user.attr[:over] || "100" %>' style='width: 20%;' placeholder='0'>
    </h3>
    <h3 style='width: 100%; text-align: center; background-color: white; color: black;'>
    <input type='file' id='pic' accept="image/*" name='file'>
    <span>rsvp image</span>
    </h3>
    <fieldset>
    <legend>one time key</legend>
    <p style='width: 100%; text-align: center; margin: 0; color: white;'><%= @otk %></p>
    </fieldset>
    <button type='submit'style='background-color: green; color: white;'>save</button>
  </dialog>
  
  <div id='badge' style='background-color: black; display: none; width: 100%;'>
    <div id='qrcode-wrap' style='width: 100%; text-align: center;'>
    <% if ENV['LVLS'] != 'false' %>
      <%= @user.sash.lvl %>
      <% end %>
      <div id="qrcode" style='padding: 2%; border: thick solid black; background-color: white;'></div>
      <h1 style='width: 100%; color: white; text-align: center;'><%= @user.attr[:sponsor] || OPTS[:domain] %></h1>
      <% if ENV['BADGES'] != 'false' %>
      <%= @user.sash.badges %>
      <% end %>
    </div>
  </div>
  
  <div id='magic' style='background-color: black; display: none; position: fixed; bottom: 0; left: 0; width: 100%; height: 100%; overflow-y: scroll;'>
    <fieldset>
      <legend style='padding: 0 3% 0 3%;'>
      <input type='checkbox' id='zap' name='zap' value='true' style='display: none;' checked>
      <label for="zap" class='material-icons'></label>
      <input type='text' id='scan' name='scan' value='<%= @id %>' style='width: 50%; color: white;' disabled></legend>
      <fieldset><legend>attributes</legend>
      <ul style='background-color: white; color: black; margin: 0;'>
	<li><span style='padding: 2%;'>xp:</span><span id='xp'></span></li>

	<li style='background-color: white; color: black; margin: 0;'>
	  <span class='material-icons' style='padding: 2%; vertical-align: middle;'>toll:</span>
	  <span>
	  <% if @user.attr[:class].to_i > 6 %>
	              <input type='number' name='xfer' min='-10' max='<%= @user.coins.value %>' value='0' style='width: 25%;'>
		       
	  <% elsif @user.attr[:class].to_i > 5 %>
	              <input type='number' name='xfer' min='-100' max='<%= @user.coins.value %>' value='0' style='width: 25%;'>		       
	    <% elsif @user.attr[:class].to_i > 3 %>
	    <input type='number' name='xfer' min='-10' max='<%= @user.coins.value %>' value='0' style='width: 25%;'>
	    <% else %>
	    <input type='number' name='xfer' min='0' max='<%= @user.coins.value %>' value=''0 style='width: 25%;'>
	    <% end %>
	  </span>
	</li>

	<li><span style='padding: 2%;'>rank:</span>
	  <% if @user.attr[:class].to_i >= 3 %>
	  <input type='checkbox' id='promote' name='admin' value='rank' style='width: min-content;'>
	  <% end %>
	  <% if @user.attr[:class].to_i >= 6 %>
	  <input id='rank' name='magic[rank]' style='width: 50%;'>
	  <% else %>
	  <span id='rank'></span>
	  <% end %>
	</li>


	<% if !params.has_key?(:ts) %>

<!--
	<li><span style='padding: 2%;'>boss:</span>
	  <% if @user.attr[:class].to_i >= 5 %>
	  <input type='checkbox' id='promote' name='admin' value='boss' style='width: min-content;'>
	  <% end %>
	  <% if @user.attr[:class].to_i >= 6 %>
	  <input id='boss' name='config[boss]' style='width: 50%;'>
	  <% else %>
	  <span id='boss'></span>
	  <% end %>
	</li>
-->

	<li><span style='padding: 2%;'>class:</span>
	  <% if @user.attr[:class].to_i > 4 %>
	  <span id='class'></span>
	  <input id='set_class' name='magic[class]' type='range' min='0' max='<%= @user.attr[:class].to_i - 1 %>' style='width: 40%;'>
    <% else %>
    <span id='class'></span>
	</li>
	<% end %>
	<% end %>  
	<li><span style='padding: 2%;'>zone:</span><span id='z'></span></li>
	<li><span style='padding: 2%;'>role:</span><span id='role'></span></li>
      </ul>
      </fieldset>
      
      <fieldset class='magic net' style='display: none;'><legend>network</legend>
      <div style='background-color: white;'>
	<% if !params.has_key?(:z) && @user.attr[:class].to_i >= 2 && @user.zones.members.length > 0 %>
	<datalist id='titles'>
	  <% TITLES.members.each do |title| %>
	  <option value='<%= title %>'>
	    <% end %>
	</datalist>
	<h3 style='width: 100%; margin: 0; text-align: center; background-color: white; color: black;'><input type='text' name='title' list='titles' placeholder='title'></h3>
	<% end %>

	<% if !params.has_key?(:z) && @user.attr[:class].to_i >= 5 && @user.zones.members.length > 0 %>
	<h3 style='width: 100%; text-align: center; margin: 0;'>
	  <select name='zone' style='width: 100%;'>
	    <option selected disabled>zone</option>
	    <% @user.zones.members.each do |zone| %>
	    <% if zone != '' %>
	    <option value='<%= zone %>'><%= zone %></option>
	    <% end %>
	    <% end %>
	  </select>
	</h3>
	<% end %>
	
	<% if @user.attr[:class].to_i >= 6 %>
	<datalist id='contests'>
	  <% VOTES.members.each do |vote| %>
	  <option value='<%= vote %>'>
	<% end %>
	</datalist>
	<h3 style='width: 100%; margin: 0; text-align: center; background-color: white; color: black;'><input type='text' name='vote' list='contests' placeholder='contest'></h3>
	<% end %>

      </div>
      </fieldset>

      <fieldset class='magic cyoa'><legend>adventure</legend>
      <h3 id='give' style='width: 100%; text-align: center; background-color: white; color: black; margin: 0;'>
	<input type='checkbox' id='badge_type' name='give[of]' value='true' style='display: none;'>
	<label for="badge_type" class='material-icons'></label>
	<select name='give[type]' style='width: 25%; padding: 0;'>
	  <option selected disabled>badge</option>
	  <% BADGES.each_pair do |name, badge| %>
	  <option value='<%= name %>'><%= name %></option>
	  <% end %>
	</select>
      <input type='checkbox' id='success' name='success' value='true' style='display: none;' checked>
      <label for="success" class='material-icons'></label>
      </h3>
      <p style='width: 100%; text-align: center;'>
	<select name='track' style='width: 100%;'>
	  <option selected disabled>adventure</option>
	  <option value='fail'>FAIL</option>
	  <option value='auto'>PARK</option>
	  <% TRACKS[request.host].adventures.members.each do |a| %>
	  <% if "#{a}".length > 0; TRACKS[request.host][a].waypoints.members.each do |w| %>
	  <% if "#{w}".length > 0; TRACKS[request.host][a][w].passwords.all.each_pair do |k,v| %>
	  <option value='<%= k %>|<%= w %>@<%= a %>#<%= v[:for] %>'><%= k %>: <%= U.new(w).attr[:name] %>@<%= a %></option>
	  <% end; end; %>
	  <% end; end; %>
	  <% end %>
	</select>
      </p>
      </fieldset>


</fieldset>

<h3 style='width: 100%; text-align: center;'>
  <button style='background-color: green; color: white;'>send</button>
</h3>
</div>

<div id='display' style='position: fixed; bottom: 0; width: 100%; color: white; background-color: black;'>
  <h1 id='sender' class='displays' style='width: 100%; text-align: center; margin: 0; display: none;'>
    <select name='send[mode]' style='width: 15%; vertical-align: middle;'>
      <option value='callback' selected>callback</option>
      <% if @user.attr[:class].to_i >= 3 %>
      <option value='invite'>invite</option>
      <% end %>
    </select>
    <input type='tel' name='send[number]' placeholder='PHONE' style='width: 55%; vertical-align: middle;' pattern='[0-9]{10}'>
    <button class='material-icons' style='vertical-align: middle; border: none;'>send</button>
    </h1>
    <div id='log' class='displays' style='width: 100%; max-height: 90vh; overflow-y: scroll; color: white; margin: 0;'>
      <% @user.log.values.to_a.reverse.each do |e| %>
      <p style='width: 100%; margin: 0;'><%= e %></p>
      <% end %>

      <% if @user.attr.has_key? :zone %>


      <% if OWNERSHIP[request.host] != 'franchise' %>
      <%= erb :waypoint %>
      <% else %>
      <%= erb :pool %>
      <% end %>

      <div id='messenger'>
      <% if OWNERSHIP[request.host] != 'franchise' %>
    <h3 style='width: 100%; text-align: center; margin: 0;'>
    <button type='button' onclick='$("#waypoint").toggle()' class='material-icons' style='padding: 0; border: none; vertical-align: middle; background-color: white; color: black; padding: 0 1% 0 1%'>edit</button>
      <input type='checkbox' id='broadcast' name='message[broadcast]' value='users' style='display: none;'>
      <label for="broadcast" class='material-icons'></label>
	  <input type='text' name='message[body]' placeholder='message...' style='width: 60%;'>
	  <button type='submit' class='ready material-icons' style='vertical-align: middle; background-color: green; padding: 1%; border: none;'>send</button>
        </h1>
	<% else %>
	  <datalist id='npt'>
	    <option value='delivered as ordered'>
	    <option value='ready'>
	    <option value='in process'>
	    <option value='review'>
	  </datalist>
	  <datalist id='states'>
	    <option value='X'>
	    <option value='*'>
	    <option value=' '>
	    <option value='?'>
	  </datalist>
	  <datalist>
	    <% @user.jobs.members.each do |e| %>
	    <option value='<%= e %>'>
	      <% end %>
	  </datalist>
	  <dialog id='pfxs' style='width: 90%;'>
	    <div style='border: thin solid black;'>
	      <p style='margin: 0; padding: 0; width: 100%;'><button style='margin: 0; padding: 0;' class='pfx material-icons' value='add_box'>add_box</button><span>new</span></p>
	      <p style='font-size: small'>new procurement</p>
	    </div>
	    <div style='border: thin solid black;'>
	      <p style='margin: 0; padding: 0; width: 100%;'><button style='margin: 0; padding: 0;' class='pfx material-icons' value='launch'>launch</button><span>ready</span></p>
	      <p style='font-size: small'>ready procurement</p>
	    </div>
	    <div style='border: thin solid black;'>
	      <p style='margin: 0; padding: 0; width: 100%;'><button style='margin: 0; padding: 0;' class='pfx material-icons' value='check_box_outline_blank'>check_box_outline_blank</button><span>undone</span></p>
	      <p style='font-size: small'>undone fulfillment</p>
	    </div>
	    <div style='border: thin solid black;'>
	      <p style='margin: 0; padding: 0; width: 100%;'><button style='margin: 0; padding: 0;' class='pfx material-icons' value='check_box'>check_box</button><span>ok</span></p>
	      <p style='font-size: small'>passed fulfillment</p>
	    </div>
	    <div style='border: thin solid black;'>
	      <p style='margin: 0; padding: 0; width: 100%;'><button style='margin: 0; padding: 0;' class='pfx material-icons' value='disabled_by_default'>disabled_by_default</button><span>not ok</span></p>
	      <p style='font-size: small'>failed fulfillment</p>
	    </div>
	    
	  </dialog>
	  <h3 style='width: 100%; text-align: center; margin: 0;'>
	  <input type='hidden' id='the_pic' name='message[pic]' value='none'>
	  <input type='hidden' id='the_pfx' name='message[pfx]' value='none'>
	  <button id='pfx' type='button' class='material-icons' style='vertical-align: middle; background-color: green; border: none; padding: 1%;' onclick='document.querySelector("#pfxs").showModal();'>north</button>
	  <input type='text' list='jobs' name='message[job]' placeholder='job...' style='vertical-align: middle; width: 10%;'>
	  <!--
<input type='text' list='states' name='message[state]' style='vertical-align: middle; width: 15%;'> -->
	  <input type='text' list='npt' name='message[body]' placeholder='message...' style='vertical-align: middle; width: 25%;'>
	  <button id='pfx' class='ready material-icons' style='vertical-align: middle; background-color: white; border: none; padding: 1%;' disabled>send</button>
	  </h3>
	<% end %>
	</div>
      <% end %>
    </div>
    <%= erb :bank %>
    <%= erb :report %>
    <% if @user.attr[:class].to_i > 0 %>
    <nav id='menu' style='width: 100%; font-size: small; text-align: center;'>
    <button class='open material-icons' id='open_log' value='log' style='border-color: orange;'>toc</button>
    <button class='open material-icons' id='open_sender' value='sender'>contact_phone</button>
    <button class='open material-icons' id='open_bank' value='bank'>savings</button>
    <button class='open material-icons' id='open_report' value='report'>report</button>
    <% if @user.attr[:class].to_i >= 5 %>
    <a href='<%= @path %>/term?u=<%= @user.id %>' class='tog material-icons' style='text-decoration: none; color: white; border-color: red;'>terminal</a>
    <% elsif @user.attr[:class].to_i < 5 && @user.attr[:class].to_i >= 2 %>
    <button class='open material-icons' id='open_waypoint' value='waypoint'>location</button>
    <% end %>
    <a class='tog material-icons' style="color: white; text-decoration: none; color: white; border-color: blue;" href="<%= @path.gsub('https', 'mumble').gsub('http','mumble').gsub('://', "://#{@user.attr[:name] || 'nomad'}@") %>:<%= MUMBLE[request.host] || '64738' %>/?version=1.2.0">headset_mic</a>
    </nav>
    <% end %>
    <% @user.log.clear() %>
		      
  </div>
  <script>
  var roles = ['user', 'influencer', 'ambassdor', 'manager', 'agent', 'operator', 'owner', 'developer']

var otk = localStorage.getItem('otk');
var at = localStorage.getItem('at');

if (otk == null) {
localStorage.setItem('otk', '<%= @otk %>');
localStorage.setItem('at', '<%= Time.now.utc.to_i %>');
otk = localStorage.getItem('otk');
}
console.log('otk', otk, at);

if ( parseInt(at) > <%= Time.now.utc.to_i - (((60 * 60) * 24) * 7) %> ) {
localStorage.setItem('at', '<%= Time.now.utc.to_i %>');
at = localStorage.getItem('at');
} else {
//<% if ENV['BOX'] != 'true'  %>
//window.location = '<%= @path %>/?w=<%= @otk %>'
//<% else %>
//window.location = '<%= @path %>'
//<% end %>
console.log('at', at, (parseInt(at) + (((60 * 60) * 24) * 7)), <%= Time.now.utc.to_i %>);
}

<%# if /^https/.match(request.url) %>
  <%= erb :sw %>
  <%# end %>

var sender = true;
$('#qrcode').qrcode('<%= @qr %>/<%= badge(@user.id).member %>');
var inv = false;
var mnu = false;
$('#contact').val('<%= @user.attr[:contact] || 'contact' %>');
$('#sponsor').val('<%= @user.attr[:sponsor] || 'sponsor' %>');
$('#title').val('<%= @user.attr[:title] || 'title' %>');

    <% if @user.attr.has_key?(:chance) && @user.attr[:chance] != 'none' %>
    $('#<%= @user.attr[:chance] %>').show();
$('#chance').val('<%= @user.attr[:chance] %>');
if ("<%= @user.attr[:chance] %>" == 'coin') {
    $('#coin_<%= @user.attr[:over] %>').prop('checked', true);
}

<% end %>

function log(s) { $('#log').prepend(s + '</br>'); console.log(s); }

$(document).on('change', '#pic', function(ev) { ev.preventDefault(); });

<% if !params.has_key? :installed %>
log('<span class="material-icons">info</span> Add to homescreen to install.');
<% end %>
<% if !/.onion/.match(request.host) %>
// log('<span class="material-icons" style="">copyright</span> 2021 <a href="https://github.com/xorgnak/nomad" style="color: white; text-decoration: none;">nomad</a>#<%= `git log --format="%H" -n 1`[0..3] %> for <%= @domain.id %>');
<% end %>

<%= erb :scan %>
<%= erb :sha %>
<%# erb :coin %>
<%= erb :mqtt %>
<%# erb :websocket %>

$(document).on('click', '.ready', function(ev) {
<% if OWNERSHIP[request.host] == 'franchise' %>
var pic = $("#canvas").get(0).toDataURL("img/png");
$('#the_pic').val(pic);
<% end %>
$('#form').submit();
});

$(document).on('change', '#zap', function() {
$('.magic').hide();
if ( $('#zap').prop('checked') ) {
   $('.net').show();
} else {
  $('.cyoa').show();
}
});

$(document).on('change', '#set_class', function() {
    $('#class').text($(this).val());
    $('#role').text(roles[$(this).val()]);
});

$(document).on('click', '.pfx', function(ev) {
ev.preventDefault();
console.log($(this));
$('#the_pfx').val($(this).val());
$('#pfx').text($(this).val());
$('#pfx').val($(this).val());
$('#pfx').css('background-color', 'white');
document.querySelector("#pfxs").close();
$('.ready').css('background-color', 'green');
$('.ready').attr('disabled', false);
});

$(document).on('click', '.open', function(ev) {
    ev.preventDefault();
    $('.displays').hide();
    $('.open').css('border-color', 'white');
    $('#open_' + $(this).val() ).css('border-color', 'orange');
    $('#' + $(this).val()).show();
});

$(document).on('change', '#s_qty', function(ev) {
    ev.preventDefault();
    var desc = $('#s_qty').val() + " shares for ";
    var amt =  ($('#s_qty').val() * <%= Shares.cost(request.host) %>);
    $('#s_desc').text(desc);
    $('#s_tot').html("<span><span class='material-icons'>savings</span>" + amt + "</span>");
    if ( $('#s_qty').val() > 0 ) {
	$('#s_ready').show();
    } else {
	$('#s_ready').hide();
    }
});

$(document).on('change', '#chance', function() {
    $('.chance').hide();
    $('#' + $('#chance').val()).show();
});

<%= erb :gps %>

</script>
    
