<style>
html { background-color: black; color: white; }
form { }
</style>
<% if Redis.new.get('ONION') != nil %>
<button type='button' onclick='$("#onion").toggle()' class='material-icons'>my_location</button>
<div id='onion' style='display: none;'>
  <div id='qrcode' style='background-color: white; padding: 2%; text-align: center;'></div>
  <script>$('#qrcode').qrcode('<%= Redis.new.get('ONION') %>');</script>
  <input value='<%= Redis.new.get('ONION') %>' disabled style='width: 100%;'>
</div>
<% end %>

<h1 id='bar' style='width: 100%; text-align: center; background-color: white; margin-top: 10%;'>
<span id='title' style='background-color: white; font-size: x-large; color: black; padding: 2%;'><%= banner %></span></h1>

<div style='width: 100%; text-align:center;'>
<<<<<<< HEAD
<% if ENV['LOGIN'] == '2fa' %>
<% if params.has_key? :cha %>
<h3>we sent you a pin.</h3>
<input type='hidden' name='cha' value='<%= params[:cha] %>'>
<h1><input type='tel' name='pin' maxlength='6' placeholder='PIN' style='text-align: center;'></h1>
<h1><button>AUTHORIZE!</button></h1>
<% else %>
<h1><input type='tel' name='usr' maxlength='10' placeholder='PHONE' style='text-align: center;'></h1>
<h1><button>AUTHORIZE</button></h1>
<% end %>
=======
<% if Redis.new.get('LOCKED') == nil && params.has_key?(:edit) %>
  <textarea name='landing' placeholder='landing html...' style='width: 100%; height: 80%;'><%= LANDING[OPTS[:domain]] %></textarea>
  <button>save</button>
>>>>>>> 52d6d97d79206b6612110a6700bfc9a2c2fb749a
<% else %>
  <% if params.has_key?(:w) ||  params.has_key?(:cha) %>
    <% if params.has_key? :cha %>
      <h3>we sent you a pin.</h3>
      <input type='hidden' name='cha' value='<%= params[:cha] %>'>
      <h1><input type='tel' name='pin' maxlength='6' placeholder='PIN' style='text-align: center;'></h1>
      <h1><button>AUTHORIZE!</button></h1>
    <% else %>
      <h1><input type='tel' name='usr' maxlength='10' placeholder='PHONE' style='text-align: center;'></h1>
      <h1><button>AUTHORIZE</button></h1>
    <% end %>
  <% else %>
    <% if params.has_key?(:landing) %>
      <textarea name='landing' placeholder='landing html...' style='width: 100%; height: 80%;'><%= LANDING[OPTS[:domain]] %></textarea>
      <button>save</button>
    <% else %>
      <h1><input type='text' name='login[username]' maxlength='20' placeholder='username' style='text-align: center;'></h1>
      <h1><input type='text' name='login[password]' maxlength='20' placeholder='password' style='text-align: center;'></h1>
      <h1><button>login</button></h1>
    <% end %>
    <%= erb LANDING[OPTS[:domain]] || '' %>
  <% end %>
<% end %>
</div>
