<style>
html { background-color: black; color: white; }
form { }
textarea { font-size: x-large; width: 100%; }
</style>

<% if LOCKED[@domain.id] == 'false'  %>
<a href='<%= @path %>/?edit=true' class='material-icons' style='text-decoration: none; color: black; background-color: white; padding: 1%; border: thin outset grey;'>lock</a>
<% end %>
<% if Redis.new.get('ONION') != nil && ENV['BOX'] == 'true' %>
<button type='button' onclick='$("#onion").toggle()' class='material-icons' style='background-color: white; padding: 1%;'>my_location</button>
<div id='onion' style='display: none;'>
  <div id='qrcode' style='background-color: white; padding: 2%; text-align: center;'></div>
  <script>$('#qrcode').qrcode('<%= Redis.new.get('ONION') %>');</script>
  <input value='<%= Redis.new.get('ONION') %>' disabled style='width: 100%;'>
</div>
<% end %>

<h1 id='bar' style='width: 100%; text-align: center; background-color: white; margin-top: 10%;'>
<% if !/.onion/.match(request.host) %>
<span id='title' style='background-color: white; font-size: x-large; color: black; padding: 2%;'><%= request.host %></span>
<% else %>
<span id='title' style='background-color: white; font-size: x-large; color: black; padding: 2%;'><%= `hostname` %></span>
<% end %>
</h1>
<div style='width: 100%; text-align:center;'>
<% if params.has_key?(:w) ||  params.has_key?(:cha) %>
   <div class='auth'>
    <% if params.has_key? :cha %>
      <h3>we sent you a pin.</h3>
      <input type='hidden' name='cha' value='<%= params[:cha] %>'>
      <h1><input type='tel' name='pin' maxlength='6' placeholder='PIN' style='text-align: center;'></h1>
      <h1><button>AUTHORIZE!</button></h1>
    <% else %>
      <h1><input type='tel' name='usr' id='tel' maxlength='10' placeholder='PHONE' style='text-align: center;' pattern="[0-9]{10}"></h1>
      <h1><button>AUTHORIZE</button></h1>
    <% end %>
    </div>
<% else %>

  <% if LOCKED[@domain.id] == 'false' && params.has_key?(:edit) %>
  <% if ENV['BOX'] == 'true' %>
  <fieldset><legend>box</legend>
	<input type='text' placeholder='mumble' name='conf[mumble]' value='<%= MUMBLE[request.host] %>'></p>
  </fieldset>
  <% end %>
     <fieldset><legend>ownership</legend>
     <p style='width: 100%; text-align: center'>
     <input type='tel' placeholder='phone' name='conf[phone]' value='<%= PHONES[request.host] %>'></p>
     <p style='width: 100%; text-align: center'>
     <input type='tel' placeholder='admin' name='conf[admin]' value='<%= ADMINS[request.host] %>'></p>
     <label for='conf_ownership_franchise' class='material-icons'>person</label>
     <input type='radio' id='conf_ownership_franchise' name='conf[ownership]' value='franchise'>
     <label for='conf_ownership_sponsor' class='material-icons'>groups</label>
     <input type='radio' id='conf_ownership_sponsor' name='conf[ownership]' value='sponsor' checked>
     <p style='width: 100%; text-align: center'>
     <p style='width: 100%; text-align: center'>
       <input type='checkbox' id='conf_ownership_lvls' name='conf[lvls]' value='true'>
         <label for='conf_ownership_lvls'>levels</label>
	 </p>
	 <p style='width: 100%; text-align: center'>
	   <input type='checkbox' id='conf_ownership_sash' name='conf[sash]' value='true'>
	     <label for='conf_ownership_sash'>badges</label>
	     </p>
	     
     <input type='checkbox' id='conf_ownership_xfer' name='conf[xfer]' value='true' checked>
     <label for='conf_ownership_xfer'>allow xfer?</label>
     </p>
     <p style='width: 100%; text-align: center'>
     <input type='number' name='conf[shares]' placeholder='shares' value='<%= SHARES[request.host] || 100 %>'></p>
     <p style='width: 100%; text-align: center'>
     <input type='number' name='conf[exchange]' placeholder='exchange' value='<%= EXCHANGE[request.host] || 1 %>'>
     </p>
     <p style='width: 100%; text-align: center'>
     <input type='number' name='conf[procurement]' placeholder='procurement' value='<%= PROCUREMENT[request.host] || 5 %>'>
     </p>
     <p style='width: 100%; text-align: center'>
     <input type='number' name='conf[fulfillment]' placeholder='fulfillment' value='<%= FULFILLMENT[request.host] || 30 %>'>
     </p>
     </fieldset>
     <fieldset><legend>content</legend>
      <textarea name='landing' placeholder='landing html...' style='width: 100%; height: 30%;'><%= LANDING[@domain.id] %></textarea>
      <textarea name='head' placeholder='head html...' style='width: 100%; height: 20%;'><%= HEAD[@domain.id] %></textarea>
      <textarea name='foot' placeholder='foot html...' style='width: 100%; height: 20%;'><%= FOOT[@domain.id] %></textarea>
      <textarea name='load' placeholder='load javascript...' style='width: 100%; height: 20%;'><%= LOAD[@domain.id] %></textarea>
      <textarea name='init' placeholder='init javascript...' style='width: 100%; height: 20%;'><%= INIT[@domain.id] %></textarea>
      </fieldset>
<p style='width: 100%; text-align: center'>
  <input type='checkbox' id='conf_ownership_lock' name='conf[lock]' value='true'>
  <label for='conf_ownership_xfer'>lock!</label>
</p>

<button>save</button>     
  <% end %>
      
  <% if params.has_key?(:quick) %>
     <input type='hidden' name='quick[type]' value='<%= params[:quick] %>'>
     <input type='hidden' name='quick[id]' value='<%= Time.now.utc.to_i %>'>
     <div style='position: absolute; bottom: 0; width: 100%;'>
      <h1><input type='tel' name='quick[phone]' maxlength='10' placeholder='phone' style='text-align: center; width: 100%;' pattern="[0-9]{10}"></h1>
      <% if QUICK.has_key? params[:quick] %>
        <%= erb QUICK[params[:quick]] %>
      <% else %>
        <textarea name='quick[rx]' placeholder='how can we help?' style='height: 80%;'></textarea>
      <% end %>
      <button style='width: 80%; background-color: green; color: white;'>ASK</button></div>
  <% end %>
  <% if !params.has_key?(:edit) && !params.has_key?(:quick) && ENV['BOX'] == 'true' %>
     <div class='auth'>
      <h1><input type='text' name='login[username]' maxlength='20' placeholder='username' style='text-align: center;'></h1>
      <h1><input type='text' name='login[password]' maxlength='20' placeholder='password' style='text-align: center;'></h1>
      <h1><button>login</button></h1>
      </div>
  <% end %>
<% end %>
    <%= erb LANDING[request.host] || '' %>
    <div id='head' style='position: fixed; top: 0; width: 100%;'>
    <%= erb HEAD[request.host] || '' %>
    </div>
    <div id='foot' style='position: fixed; bottom: 0; width: 100%;'>
    <%= erb FOOT[request.host] || '' %>
    </div>
</div>
<script>
<% if params.has_key?(:edit) %>
$('#head').hide();
$('#foot').hide();
<% end  %>
<% if !params.has_key?(:auth) && !params.has_key?(:w) %>
$('.auth').hide();
<% else %>
$('#head').hide();
$('#foot').hide();
<% end %>
<%= erb LOAD[request.host] || '' %>
$(function(){ <%= erb INIT[request.host] || '' %> });
</script>