
<style>
fieldset { width: 98%; padding: 0; margin: 0; }
.phases { border-left: none; border-right: none; border-bottom: none; text-align: center; }
.phases > legend { text-align: center; border-left: thin solid black; border-right: thin solid black; }
.phases > fieldset { border-left: none; border-right: none; border-bottom: none; text-align: center; }
.phases > fieldset > legend { text-align: center; border-left: thin solid black; border-right: thin solid black; }

li { font-size: small; }
ul { padding: 0; margin: 0; text-align: left; }
ol { padding: 0; margin: 0; text-align: left; }
</style>
<% @ex = Shares.market %>
<% @mkt = []; @ex[:market].each_pair { |k,v| @mkt << %[<li>#{k}: #{v.to_i}<span class='material-icons'>toll</span></li>] }  %>
<% @brd = []; @ex[:ledger].each_pair { |k,v| @brd << %[<li>#{U.new(k).attr[:name] || 'anonymous'}: #{v.to_i}<span class='material-icons'>confirmation_number</span></li>] }  %>
<nav style='width: 100%; text-align: center; background-color: black; color: white;'>
<button style='background-color: orange; color: black;'disabled><span class='material-icons' style='vertical-align: middle;'>hiking</span>nomad</button>
<button type='button' class='phase material-icons' value='0' class='material-icons' style='vertical-align: middle;'>info</button>
<button type='button' class='phase' value='1'>1</button>
<button type='button' class='phase' value='2'>2</button>
<button type='button' class='phase' value='3'>3</button>
<button type='button' class='phase' value='4'>4</button>
</nav>

<fieldset class='phases' id='phase_X'>
<legend>network</legend>

<h3 style='width: 100%; text-align: center;'>1<span class='material-icons'>toll</span>=<span style='border: thin dotted red; border-radius: 50px;'>one click.</span></h3>
<h3 style='width: 100%; text-align: center;'>1<span class='material-icons'>savings</span>=<span style='border: thin dotted red; border-radius: 50px;'>1<span class='material-icons'>toll</span> saved.</span></h3>

<div>
<h3 style='width: 100%; text-align: center; margin: 0;'>Total Network Value</h3>
<h3 style='width: 100%; text-align: center; margin: 0;'><%= @ex[:total] %><span class='material-icons'>savings</span></h3>
</div>
<p><span class='material-icons'>confirmation_number</span> price is determined by brand ownership.</p>
<fieldset>
<legend>stats</legend>
<fieldset>
<legend>reach</legend>
<ul>
<li>users: <%= @ex[:users] %></li>
<li>domains: <%= @ex[:domains] %></li>
</ul>
</fieldset>
<fieldset>
<legend>market</legend>
<p>total <span class='material-icons'>confirmation_number</span>: <%= @ex[:shares] %></p>
<ul>
<li>owners: <%= @ex[:owners] %></li>
<li>held: <%= @ex[:held] %><span class='material-icons'>confirmation_number</span></li>
</ul>
<p>total <span class='material-icons'>toll</span>: <%= @ex[:coins] %></p>
</fieldset>
</fieldset>

<fieldset>
<legend>brands</legend>
<ul>
<%= @mkt.join('') %>
</ul>
</fieldset>

<fieldset>
<legend>shareholders</legend>
<ul>
<%= @brd.join('') %>
</ul>
</fieldset>
<fieldset><legend>managment</legend>
<%= GOV.html %>
</fieldset>
</fieldset>

<fieldset class='phases' id='phase_0' style='display: none;'>
<legend>nomad usage</legend>
<ul>
<li>entorage coordinated.</li>
<li>co-brand focused.</li>
<li>influencer driven.</li>
<li>organized by zones.</li>
<li>owned by it's creators.</li>
</ul>
<fieldset><legend>getting started...</legend>
<ol>
<li><button type='button' class='phase' value='1'>create your zone.</button></li>
<li><button type='button' class='phase' value='2'>add team members.</button></li>
<li><button type='button' class='phase' value='3'>create waypoints.</button></li>
<li><button type='button' class='phase' value='4'>market waypoints.</button></li>
</ol>
</fieldset>
</fieldset>


<fieldset class='phases' id='phase_1' style='display: none;'>
<legend>create your zone</legend>
<ul>
<li>get some tokens.</li>
<li>use the bank to estimate zone resources.</li>
<li>think of a good name.</li>
</ul>
</fieldset>

<fieldset class='phases' id='phase_2' style='display: none;'>
<legend>add team members</legend>
<ul>
<li>invite users.</li>
<li>set their class, title, and zone.</li>
<li>show them how to set up their profile.</li>
</ul>
</fieldset>

<fieldset class='phases' id='phase_3' style='display: none;'>
<legend>create waypoints</legend>
<ul>
<li>create waypoint passwords and categories for special offers and points of interest.</li>
<li>use the crowd indicator to show how busy you are.</li>
</ul>
</fieldset>

<fieldset class='phases' id='phase_4' style='display: none;'>
<legend>market waypoints</legend>
<h4 style='width: 100%; text-align: center;'>schedule your content planning session today</h4>
<ul>
<li>self-shot</li>
<li>first-person</li>
<li>influencer-driven</li>
<li>experiential marketing.</li>
</ul>
<h4 style='width: 100%; text-align: center;'>we get it all in one take.</h4>
</fieldset>

<script>
$(document).on('click', '.phase', function(ev) {
ev.preventDefault();
console.log($(this));
$('.phases').hide();
$('#phase_' + $(this).val()).show();
});
</script>