<style>
#canvas { width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: -2; } 
#head > * { vertical-align: middle; }
#config input { width: 100%; }
button {
color: white;
text-shadow: 0px 0px 1px black;
text-shadow: 0px 0px 2px black;
background-color: rgba(0,0,0,0.0);
border: thick solid white;
padding: 3%;
}
#state > * { vertical-align: middle; }
#give > * {vertical-align: middle; }
#lvl { padding: 1%; }
.pin { padding: 2%; margin: 2%; font-size: xx-large; }
.pip { padding: 1%; margin: 1%; font-size: large; }
#badges { text-align: center; }
.badge { font-size: xx-large; padding: 2%; margin 3%; }
.open { border: thin solid white; padding: 0 3% 0 3%; font-size: small; }
.tog { border: thin solid white; padding: 0 3% 0 3%; font-size: small; }
</style>

<% @a = @user.attr.all %>

  <input type='file' id='pic-file' style='position: fixed; top: -100px;' name='config[pic]'>
  <h1 style='color: white; background-color: black; margin: 0;'>
      <button class='material-icons' type='button'
         onclick='$("#badge").toggle(); $("#display").toggle();'
	 style='background-color: black;font-size: xx-large; width: 20%; float: right;'>qr_code_2</button>
    <span onclick='$("#config").toggle(); $("#display").toggle();'>
      <% if @user.attr.has_key?(:name) && @user.attr[:name] != '' %>
      <%= @user.attr[:name] %>
      <% else %>
      <span style='font-size: xx-large;' class='material-icons'>settings</span> config
      <% end %>
    </span>
  </h1>
  <p style="color: white; background-color: black; margin: 0;">mumble://<%= @user.attr[:name] || 'nomad' %>@<%= ENV['CLUSTER'] %>:64738/?version=1.2.0</p>
  
  <h1 id='menu' style='width: 100%; background-color: black; text-align: center; margin: 0;'>
      <a href='<%= @path %>/bank?u=<%= @user.id %>&bare=true' class='open material-icons' id='open_bank' value='bank' style='text-decoration: none; color: white;'>savings</a>
  <% if Bank.wallet[@user.id].to_i > 0 %>
   <a href='<%= @path %>/sponsor?u=<%= @user.id %>&bare=true' class='open material-icons' id='open_sponsorship' value='sponsorship' style='text-decoration: none; color: white;'>cabin</a>
   <a href='<%= @path %>/shares?u=<%= @user.id %>&bare=true' class='open material-icons' id='open_shares' value='shares' style='text-decoration: none; color: white;'>confirmation_number</a>
  <% end %>
  <a href='<%= @path %>/term?u=<%= @user.id %>' class='tog material-icons' style='text-decoration: none; color: white; border-color: green;'>terminal</a>
  </h1>


  <div id='config' style='background-color: black; display: none;'>
    <h1><input type='text' name='config[name]' placeholder='NAME' value='<%= @user.attr[:name] %>'></h1>
    <h1><input type='text' name='config[pitch]' placeholder='PITCH' value='<%= @user.attr[:pitch] %>'></h1>    
    <h1 style='width: 100%;'>
      <input type='text' name='config[link]' placeholder='LINK' value='<%= @user.attr[:link] %>' style='width: 100%;'>
    </h1>

    <h1 style='width: 100%;'>
      <select id='title' name='config[title]' style='width: 100%;'>
	<option value='title' selected disabled>title</option>
	<% if @user.attr[:class].to_i > 0 %>
	<option value='influencer'>influencer</option>
	<% end %>
	<% if @user.attr[:class].to_i > 1 %>
	<option value='manager'>manager</option>
	<% end %>
	<% if @user.attr[:class].to_i > 2 %>
	<option value='operator'>operator</option>
	<% end %>
	
	<% @user.titles.members.each do |e| %>
	<option value='<%= e %>'><%= e %></option>
	<% end %>
      </select>
    </h1>

    <h1 style='width: 100%;'>
      <select id='sponsor' name='config[zone]' style='width: 100%;'>
	<option value='sponsor' selected disabled>sponsor</option>
	<% @user.zones.members.each do |e| %>
	<option value='<%= e %>'><%= e %></option>
	<% end %>
      </select>
    </h1>
    <h1>
    <select id='contact' name='config[contact]' style='width: 20%;'>
      	<option value='none' selected>contact</option>
	<option value='sms'>sms</option>
	<option value='tel'>tel</option>
      </select>
      <datalist id='numbs'>
      <option value='<%= @user.attr[:phone] %>'>
      <option value='<%= ENV['PHONE'] %>'>
      </datalist>
      <input type='tel' list='numbs' name='config[phone]' style='width: 70%;' maxlength="10" size="10" placeholder='PHONE' value='<%= @user.attr[:phone] %>' pattern='[0-9]{10}'>
    </h1>
    <h1><input type='file' id='pic' accept="image/*" name='file'></h1>

    <% if @user.attr[:class].to_i > 4 %>
    <fieldset>
    <legend>waypoint</legend>
      <%= erb :waypoint, layout: false %>
    </fieldset>  
    <% end %>

    <% if @user.attr[:class].to_i >= 5 && @user.attr.has_key?(:zone) %>
    <fieldset id='urls'>
    <legend>urls</legend>
      <input name='waypoint[urls][new]' placeholder='https://'>
      <% Zone.new(@user.attr[:zone]).urls.each do |e| %>
      <% end %>
    </fieldset>
    <% end %>
    <button style='background-color: green; color: white;'>save</button>
  </div>
  
  <div id='badge' style='background-color: black; display: none; width: 100%;'>
    <div id='qrcode-wrap' style='width: 100%; text-align: center;'>
    <% if ENV['LVLS'] != 'false' %>
      <%= @user.sash.lvl %>
      <% end %>
      <div id="qrcode" style='padding: 2%; border: thick solid black; background-color: white;'></div>
      <h1 style='width: 100%; color: white; text-align: center;'><%= @user.attr[:sponsor] || OPTS[:domain] %></h1>
      <% if ENV['LVLS'] != 'false' %>
      <%= @user.sash.badges %>
      <% end %>
    </div>
  </div>







  
  <div id='display' style='position: fixed; bottom: 0; width: 100%; color: white; background-color: black;'>
    <h1 id='sender' class='displays' style='width: 100%; text-align: center; margin: 0; display: none;'>
    <select name='send[mode]' style='width: 15%; vertical-align: middle;'>
    	    <option value='callback' selected>callback</option>
	    <% if @user.attr[:class].to_i >= 3 %>
    	    <option value='invite'>invite</option>
	    <% end %>
    </select>
    <input type='tel' name='send[number]' placeholder='PHONE' style='width: 55%; vertical-align: middle;' pattern='[0-9]{10}'>
    <button class='material-icons' style='vertical-align: middle; border: none;'>send</button>
    </h1>
    <div id='log' class='displays' style='width: 100%; height: 100%; color: white; overflow-y: scroll; margin: 0;'>
      <% @user.log.values.to_a.reverse.each do |e| %>
      <p style='width: 100%; margin: 0;'><%= e %></p>
      <% end %>
    </div>
    
<% @user.log.clear() %>
		      
  </div>
  <script>
  var roles = ['user', 'influencer', 'ambassdor', 'manager', 'agent', 'operator', 'owner', 'developer'];
  <% z = []; 12.times { z << rand(16).to_s(16) }; @z = z.join('') %>
    var id = '<%= QRO[@id] %>';
var sender = true;
$('#qrcode').qrcode('<%= @path %>/?b=<%= @user.attr[:boss].to_i %>&p=<%= @user.attr[:xp].to_i %>&r=<%= @user.attr[:rank].to_i %>&c=<%= @user.attr[:class].to_i %>&x=<%= @user.attr[:zone] || 'solo' %>&u=' + id + '&z=<%= @z %>');
$('#contact').val('<%= @user.attr[:contact] || 'contact' %>');
$('#sponsor').val('<%= @user.attr[:sponsor] || 'sponsor' %>');
$('#title').val('<%= @user.attr[:title] || 'title' %>');
function log(s) { $('#log').prepend(s + '</br>'); console.log(s); }
$(document).on('change', '#pic', function(ev) { ev.preventDefault(); });

</script>
    
