<style>
  h1 { width: 100%; }
  h1 > * { vertical-align: middle; }
  input { width: 60%; }
</style>
<div id='shares' class='' style=''>
  
  <% @tot = Shares.shares(request.host) %>
  <fieldset><legend>ownership</legend>
    <ul>
      <li>
	<span>you own:</span>
	<span><%= Shares.by(request.host)[@user.id].to_i || 0 %></span>
      </li>
      <% @tot.each_pair do |k,v| %>
      <li>
	<span><%= k %>:</span>
	<span><%= v %></span>
      </li>
      <% end %>
    </ul>
  </fieldset>
  <fieldset><legend>shares</legend>
    <h3 id='s_amt' style='text-align: center; width: 100%; margin: 0;'>
      <span class='material-icons'>savings</span><%= Shares.cost(request.host) %></span>
<select name='shares[mode]'>
  <% if Bank.wallet[@user.id] > Shares.cost(request.host) %>
  <option value='buy'>buy</option>
  <% end %>
  <% if Shares.by(request.host)[@user.id] > 0 %>
  <option value='sell'>sell</option>
  <% end %>
</select>
<% @max = (Bank.wallet[@user.id].to_i || 1 / Shares.cost(request.host)).to_i || 1 %>
<% if Shares.by(request.host)[@user.id].to_i > 0 %>
<input type='number' id='s_qty' name='shares[qty]' step='1' min='0' max='<%= Shares.by(request.host)[@user.id] %>' value='0' style='width: 20%;'>
<% else %>
<input type='number' id='s_qty' name='shares[qty]' step='1' min='0' max='<%= @max %>' value='0' style='width: 20%;'>
<% end %>
</h3>
<h3 style='text-align: center; width: 100%; margin: 0;'>
  <span id='s_desc'></span>
  <span id='s_tot'></span>
</h3>
</fieldset>
</div>

  
