<style>
input { margin: 0; width: 100%; }
</style>
<datalist>
<% LOCS.each do |e| %>
<option value='<%= e %>'>
<% end %>
</datalist>
<% [ :u, :a, :i ].each do |e| %>
<input type='hidden' name='<%= e %>' value='<%= params[e] %>'>
<% end %>
<input type="text" name='waypoint[name]' placeholder='name'>
<input type="text" name='waypoint[location]' list='locs' placeholder='location'>
<textarea style='width: 100%; height: 20%; font-size: x-large;' name='waypoint[description]' placeholder='description'></textarea>
<textarea style='width: 100%; height: 20%; font-size: x-large;' name='waypoint[instructions]' placeholder='instructions'></textarea>
<select style='width: 100%;' name='waypoint[type]'>
<option selected disabled>type</option>
<% [ :entry, :info, :waypoint, :extra, :exit ].each_with_index do |e, i| %>
<option value='<%= i %>'><%= e %></option>
<% end %>
</select>

<p style='width: 100%; text-align: center;'><button>save</button></p>
