<% @zone = Zone.new(@user.attr[:sponsor]) %>
<% @z = TRACKS[request.host][@zone.id] %>
<% @track = TRACKS[request.host][@zone.id][@user.id] %>
<% @words = [] %>

<fieldset id='waypoint' class='displays' style='display: none;'>
<legend>waypoint</legend>
<p style='width: 100%; text-align: center; margin: 0;'>
<span class='material-icons'>person</span>
<input type='range' name='full' min='0' value='<%= Zone.new(@user.attr[:sponsor]).attr[:full] || "3" %>' max='5' style='width: 60%; margin: 0;'>
<span class='material-icons'>groups</span>
</p>
<ul>
<% @track.passwords.all.each_pair do |k, v| %>
<% @words << k %>
<li style='width: 100%; margin: 1%;'>
<span style='border: thin solid white; padding: 0 2% 0 2%; border-radius: 5px; margin-right: 1%;'><%= k %></span>
<span class='material-icons' style='vertical-align: middle;'><%= BADGES[v[:for].to_sym] %>
</li>
<% end %>
</ul>
<datalist id='words'>
<% @words.each do |e| %>
<option value='<%= e %>'>
<% end %>
</datalist>
<h3 style='width: 100%; text-align: center;'>

<input list='words' name='waypoint[new][say]' style='width: 45%;' placeholder='SAY'>

<select name='waypoint[new][for]' style='width: 45%;'>
<option selected disabled>FOR</option>
<% BADGES.each_pair do |k,v| %>
<%# if @user.badges[k].to_i > 0 %>
<option value='<%= k %>'><%= k %></option>
<%# end %>
<% end %>
</select>
</h3>
</fieldset>